<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>WasteTracking | Waste Management Software</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="stilearning">

  <meta http-equiv="x-pjax-version" content="v173">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/favico-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/favico-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/favico-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="ico/favico-57-precomposed.png">
  <link rel="shortcut icon" href="ico/favico.png">
  <link rel="shortcut icon" href="ico/favico.ico">

  <!-- build:css styles/vendor.css -->
  <!-- bower:css -->


  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
  <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar" class="animated fadeIn">

<div class="frontend-page">
  <header id="home">
    <nav class="navbar navbar-inverse no-border animated fadeInDown" role="navigation" data-spy="affix" data-offset-top="674">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#comingsoon-navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand scroll" href="#home">
            <%= image_tag "dummy/wastetrackinglogo.png" %>
          </a>
        </div><!--/navbar-header-->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="comingsoon-navbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="scroll" href="#home">Home</a></li>
            <li><a class="scroll" href="#about">About</a></li>
            <li><a class="scroll" href="#tools">Tools</a></li>
            <li><a class="scroll" href="#features">Features</a></li>
            <li><a href="page-signin.php"><strong>Signin</strong></a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!--/container-->
    </nav><!--/navbar-->

    <div class="header-caption">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <h1 class="animated fadeInDown animated-delay">
              <span class="text-lg text-uppercase">Your Complete Waste Tracking Solution</span>
            </h1>

            <p class="lead text-uppercase animated fadeInUp animated-delay-2"><span class="text-lg">Completely redesigned with tons of awesome new features</span></p>

            <p class="animated flipInX animated-delay-3">
              <a target="_blank" href="/logins/business" class="btn btn-lg btn-rounded btn-transparent margin-bottom">BUSINESS USERS</a>
              <a target="_blank" href="page-signin-government.php" class="btn btn-lg btn-rounded btn-transparent margin-bottom margin-left">GOVERNMENT USERS</a>
              <a href="index.php" class="btn btn-lg btn-rounded btn-transparent margin-bottom margin-left">VIEW DEMO</a>
            </p>
          </div><!--/-cols-->
        </div><!--/-row-->
      </div><!--/-container-->
    </div><!--/header-caption-->
  </header><!--/header-->

  <section id="about" class="section-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
          <div class="img-showcase wow fadeInUp" data-wow-delay="0.5s">
            <%= image_tag "dummy/img12.png", :class=>"lazy" %>
          </div>
        </div><!--/-cols-->

        <div class="col-sm-offset-1 col-sm-6">
          <div class="caption-showcase wow fadeInDown" data-wow-delay="0.5s">
            <h2>Let's Talk About Waste Tracking 2.x</h2>
            <p> Hey! We're back with a new look and more interactive features. Faster data queries, beautiful graphics, clean displays, elegant design, simple easy to use interface, enhanced customer and user support. <a target="_blank" href="">Schedule  your demo today!</a></p>
          </div>
        </div><!--/-cols-->

      </div><!--/-row-->
    </div><!--/-container-->

  </section><!--/section-->

  <svg class="bg-cloud" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 100 102" preserveaspectratio="none">
    <path class="bg-white" d="M0 0 L50 100 L100 0 Z"/>
  </svg>

  <section id="tools" class="section-content bg-cloud">
    <div class="container">
      <h2 class="text-center"><span>The Most Powerful Waste Tracking tool on the market.</span></h2>
      <div class="row text-center">
        <div class="col-sm-4 wow fadeInLeft" data-wow-delay="0.5s">
          <p class="float-shadow">
            <i class="fa fa-th fa-4x"></i>

          </p>
          <p class="lead"><a target="_blank" href="#">Easy Set Up</a></p>
          <p>We'll set up your entire account and import any existing data for you. Then we'll train you, your staff your clients and vendors on how to use and interact with your Waste Tracking system.</p>
        </div><!--/-cols-->

        <div class="col-sm-4 wow fadeInRight" data-wow-delay="1.1s">
          <p class="float-shadow">
            <i class="fa fa-users fa-4x"></i>


          </p>
          <p class="lead"><a target="_blank" href="#">Unlimited Users</a></p>
          <p>Don't be prohibited by limited user plans that can blow your budget. With unlimited users, you can increase participation and encourage your staff, vendors and clients to interact engage with your waste tracking system.</p>
        </div><!--/-cols-->

        <div class="col-sm-4 wow fadeInUp" data-wow-delay="0.8s">
          <p class="float-shadow">
            <i class="fa fa-phone-square fa-4x"></i>
          </p>
          <p class="lead"><a target="_blank" href="#">Live Support</a></p>
          <p>Live Support is only a click or a phone call away. As part of your waste tracking system, training and support is provided for all your users at no additional charge.</p>
        </div><!--/-cols-->
      </div><!--/-row-->
    </div><!--/-container-->
  </section><!--/section-->

  <svg class="bg-cloud" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 100 100" preserveaspectratio="none">
    <path class="bg-inverse" d="M0 100 C 20 0 50 0 100 100 Z"/>
  </svg>

  <section id="features" class="section-content bg-inverse">
    <div class="container">
      <h2 class="text-center"><span>Awesome Features</span></h2>
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="feature-item wow fadeIn">
            <p class="text-64 text-primary hover-shadow"><i class="fa fa-eye"></i></p>
            <p class="lead">Monitor Compliance</p>
          </div>
        </div><!--/-cols-->

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="feature-item wow fadeIn" data-wow-delay="0.3s">
            <p class="text-64 text-success hover-shadow"><i class="fa fa-exclamation-triangle"></i></p>
            <p class="lead">Reduce Liability</p>
          </div>
        </div><!--/-cols-->

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="feature-item wow fadeIn" data-wow-delay="0.6s">
            <p class="text-64 text-info hover-shadow"><i class="fa fa-cog fa-spin animated-dur-2"></i></p>
            <p class="lead">Animated</p>
          </div>
        </div><!--/-cols-->

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="feature-item wow fadeIn" data-wow-delay="0.9s">
            <p class="text-64 text-warning hover-shadow"><i class="fa fa-arrows"></i></p>
            <p class="lead">Widgets Sortable</p>
          </div>
        </div><!--/-cols-->

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="feature-item wow fadeIn" data-wow-delay="2.1s">
            <p class="text-64 text-danger hover-shadow"><i class="fa fa-map-marker"></i></p>
            <p class="lead">Maps</p>
          </div>
        </div><!--/-cols-->

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="feature-item wow fadeIn" data-wow-delay="1.8s">
            <p class="text-64 text-warning hover-shadow"><i class="fa fa-bar-chart-o"></i></p>
            <p class="lead">Charts</p>
          </div>
        </div><!--/-cols-->

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="feature-item wow fadeIn" data-wow-delay="1.5s">
            <p class="text-64 text-primary hover-shadow"><i class="fa fa-comment-o"></i></p>
            <p class="lead">Chat</p>
          </div>
        </div><!--/-cols-->

        <div class="col-md-3 col-sm-4 col-xs-6">
          <div class="feature-item wow fadeIn" data-wow-delay="1.2s">
            <p class="text-64 text-success hover-shadow"><i class="fa fa-ellipsis-h"></i></p>
            <p class="lead">Much more...</p>
          </div>
        </div><!--/-cols-->
      </div><!--/-row-->
    </div><!--/-container-->
  </section><!--/section-->


  <svg class="bg-danger" xmlns="http://www.w3.org/2000/svg" version="1.1" viewbox="0 0 100 100" preserveaspectratio="none">
    <path class="no-stroke" fill="#333C5A" d="M50 100 C49 80 47 0 40 0 L47 0 Z"/>
    <path class="no-stroke" fill="#333C5A" d="M50 100 C51 80 53 0 60 0 L53 0 Z"/>
    <path class="bg-inverse no-stroke" d="M47 0 L50 100 L53 0 Z"/>
  </svg>

  <section class="section-content bg-danger">
    <div class="container">
      <h1 class="text-capital text-center">
        <span class="text-lead wow fadeInUp">Enjoy surfing the demo like read a documentation</span>
      </h1>
      <br>
      <div class="text-center margin-top">
        <div class="float-shadow wow fadeInLeft">
          <a target="_blank" href="page-signin-business.php" class="btn btn-lg btn-rounded btn-transparent margin-right">
            <span class="text-lg">BUSINESS USERS</span>
          </a>
        </div>
        <div class="float-shadow wow fadeInLeft">
          <a target="_blank" href="page-signin-government.php" class="btn btn-lg btn-rounded btn-transparent margin-right margin-left">
            <span class="text-lg">GOVERNMENT USERS</span>
          </a>
        </div>
        <div class="float-shadow wow fadeInRight">
          <a href="index.php" class="btn btn-lg btn-rounded btn-transparent margin-left">
            <span class="text-lg">VIEW DEMO</span>
          </a>
        </div>
      </div>
    </div><!--/-container-->
  </section><!--/section-->

  <footer class="footer">
    <div class="container">
      <p class="text-footer wow fadeInDown">
        <%= image_tag "dummy/wastetrackinglogo.png", :height=>"40px", :class=>"lazy" %> </p>
    </div><!--/-container-->
  </footer><!--/footer-->
</div><!--/frontend-page-->


<!-- endbuild -->
</body>
</html>